Flask
flask-cors
gunicorn
openai
requests
python-dotenv
supabase
PyPDF2>=3.0.0
Flask-Login==0.6.3
python-docx
Authlib
weasyprint
docxtpl
gotrue
stripe
pypdf
docx2txt
pillow>=10.3
pytesseract>=0.3.10
pdfplumber>=0.11
pdf2image>=1.16
