{% extends "mobile/base.html" %}

{% block title %}Chat with Jobcus{% endblock %}
{% block body_class %}chat-page{% endblock %}

{% block content %}
<main id="mainContainer" class="centered">
  <div class="chat-wrapper">
    <div id="chatbox" class="chatbox"></div>
    <div id="job-results" class="job-listings"></div>
  </div>

  <div class="scroll-down-icon" onclick="scrollToBottom()">
    <img src="/static/icons/scroll-down.svg" alt="Scroll down" />
  </div>

  <div class="input-container">
    <input
      type="text"
      id="userInput"
      placeholder="Ask your career question..."
      onkeydown="handleKey(event)"
    />
    <div class="icon-group">
      <img
        src="/static/icons/attach.svg"
        alt="Attach"
        title="Attach"
        onclick="handleAttach()"
      />
      <img
        src="/static/icons/mic.svg"
        alt="Mic"
        title="Speak"
        onclick="handleMic()"
      />
      <img
        src="/static/icons/send.svg"
        alt="Send"
        title="Send"
        onclick="sendMessage()"
      />
    </div>
  </div>
</main>
{% endblock %}
